body {
    font-family: Arial, sans-serif;
}
.doboz {
    width: 400px;
    margin: 20px auto;
}
.sor {
    padding: 5px 0;
    border-bottom: 1px solid black;
}
.deviza-nev {
    font-weight: bold;
}
